version: 3.9

services:
    db:
     build: 
       context: .
       dockerfile: Dockerfile.db
     enviornment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: auth_ab
     volumes: 
       - postgres_data:/var/lib/postgresql/data
      


    backend: 
     build: 
       context: .
       dockerfile: Dockerfile.backend
    #  enviornment:
      # DATABASE_URL : postgresql://postgres:root@db:5432/auth_db
     ports: 
      - 8000:8000
     depends_on:
      - db

    volumes:
       postgres_data